<div class = "imageWrapper">
    <img class = "group_one" src = "../images/phluff1.jpeg" alt = "phluffhead">
    <img class = "group_one" src = "../images/phluff2.jpeg" alt = "phluffhead">
    <img class = "group_two" src = "../images/phluff3.jpeg" alt = "phluffhead">
    <img class = "group_two" src = "../images/phluff4.jpeg" alt = "phluffhead">
    <img class = "group_two" src = "../images/phluff5.jpeg" alt = "phluffhead">
    <img id = "phluff_six" class = "group_three" src = "../images/phlufffix.jpeg" alt = "phluffhead">
    <img id = "phluff_seven" class = "group_three" src = "../images/phluff7.jpeg" alt = "phluffhead">
    <img class = "group_four" src = "../images/phluff8.jpeg" alt = "phluffhead">
    <img class = "group_four" src = "../images/phluff9.jpeg" alt = "phluffhead">
</div>